@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

:root {
  --bg-color: #fff;
  --text-color: #000;
  --brand-color: #2a365f;
  --brand-color-light: #1577A0;
  --brand-accent: #17BABE;
}

* {
  font-family: Open Sans;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -400%);
}

body {
  font-family: sans-serif;
}

.home_content {
  line-height: 1.9;
}

.split {
  height: 50%;
  width: 50%;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #c0c0c0;
  align-items: center;
}

/* Control the right side */
.right {
  right: 0;
  background-color: beige;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: var(--bg-color);
  font-size: 16px;
  padding: 16px 32px;
}

.footer-distributed {
  background: #638aaa;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #6e94ab;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
footer a{
  text-decoration: none;
}


.marquee {
  width: 100%;
  border: none;
  margin-top: 30px;
  background-color: black;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
}

.marquee span {
  display: inline-block;
  color: white;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* About Section 
============== */

.about-area .section-title {
  margin-bottom: 30px;
}

.info-content-area .section-title h2 {
  position: relative;
  padding-left: 35px;
}

.info-content-area .section-title h2:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 5px solid#2a365f;
}

.info-content-area p.highlight {
  position: relative;
  padding-left: 35px;
  margin: 20px 0;
}

.info-content-area p.highlight:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 7px;
  left: 0;
  background: #2a365f;
}

.founded {
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
  padding: 15px;
}

.founded img {
  border-radius: 5px;
}

.founded-text p {
  font-size: 20px;
  line-height: 25px;
  color: #1a3759;
  font-weight: 500;
  padding: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.info-content-area .main-btn {
  background: transparent;
  color: #2a365f;
  border: 2px solid;
  margin: 40px 0;
}

.info-content-area .main-btn:hover {
  background: #2a365f;
  color: #fff;
  border-color: #2a365f;
}

.info-img img {
  border-radius: 5px;
}

/* Footer */
.contact-us-areas {
  /* background-image: url(../img/contact-bg-1.jpg); */
  background-size: cover;
  /* height: 1100px; */
  /* position: relative;
	z-index: 1; */
}
.contact-us-area {
  /* background-image: url(../img/contact-bg-1.jpg); */
  background-size: cover;
  /* height: 415px;
	position: relative;
	z-index: 1; */
}

.contact-us-inner {
  text-align: center;
}
.contact-us-wrapper > div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  max-width: 900px;
  margin: 0 auto;
}

.contact-us-wrapper > div > div {
  width: auto;
  /* border-right: 1px solid var(--brand-color); */
}

.contact-us-wrapper > div > div:last-child {
  border-right: none;
}



.contact-us-inner:nth-last-child(4) {
  border-right: none;
}

.contact-us-inner a {
  /* text-transform: uppercase; */
  color: #2a365f;
  font-size: 17px;
  font-weight: 500;
  /* margin: 20px 0 10px; */
}

#contact-us .info-i {
  position: relative;
  z-index: 1;
}

#contact-us .info-i i:before {
  font-size: 30px;
  color: #2a365f;
}

#contact-us .contact-form .main-btn {
  margin-top: 30px;
}

/* .contact-section {
	background-image: url(../img/contact-bg-2.html);
} */

.contact-section .section-title h2 {
  color: #fff;
}

.contact-form .main-btn {
  border-radius: 0;
  border: none;
  /* margin: 40px 0; */
}

.contact-info i {
  color: #2a365f;
  font-size: 20px;
  margin-right: 2px;
}

/* about */
#about {
  background-image: url(../assests/search.jpeg);
  display: flex;
  background-size: cover;
  filter: blur(3px);	
  padding:7px;
  height: 90vh;
}

#about-content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /* font-weight: bold; */
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#about-content p {
	font-size: medium;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	line-height: 1.9;
}

/* hseq*/
#hseq {
  background-image: url(../assests/carousel.jpeg);
  display: flex;
  background-size: cover;
  filter: blur(3px);	
  padding:3px;
  height: 90vh;
}

#hseq-content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /* font-weight: bold; */
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#hseq-content p {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.3;
}

/* careers */
#career {
  background-image: url(../assests/commercial.jpeg);
  display: flex;
  background-size: cover;
  filter: blur(5px);	
  padding:7px;
  height: 90vh;
}

#career-content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /* font-weight: bold; */
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#career-content p {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.3;
}

/* hseq */
#hseq {
  background-image: url(../assests/about.jpg);
  display: flex;
  background-size: cover;
  filter: blur(5px);	
  height: 100vh;
}

#hseq-content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#hseq-content p{
  font-size:medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  line-height: 1.9;
}

.hseq_items{
font-weight: bold;
font-size:medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  line-height: 1.9;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 20px auto;
}

.grid-item {
  width: 180px;
  height: 180px;
  font-weight: bold;
  color: white;
  font-family: Arial, sans-serif;
  background-color: var(--brand-color);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.grid-item:hover {
  transform: scale(1.02);
  color: var(--brand-color);
  background-color: #ddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.centered-content {
  text-align: center;
  font-family: Arial, sans-serif; /* Center align the content */
}

.separator {
  width: 50%; /* Adjust the width of the separator line */
  margin: 20px auto; /* Center the separator horizontally and add space around it */
  border: none;
  border-top: 3px solid #1577A0; /* Change the color and style of the separator line */
}

/* Redesign Overwrite */

/* Navbar */

.navbar {
  width: 100%;
} 

.navbar, .dropdown-menu {
  background-color: #f3f3f3 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-expand-lg .navbar-nav {
  gap: 1em;
}

.navbar-collapse .navbar-nav {
  padding: 1em 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--brand-color);
  padding: 0;
  font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--brand-color-light);
}

.nav-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item .dropdown-menu {
  flex-basis: 100%;
}

.navbar-expand-lg .nav-item i::before {
  color: var(--brand-color);
}

.navbar-expand-lg .nav-item:hover i::before {
  color: var(--brand-color-light);
}

.navbar-expand-lg .nav-item:hover i::before {
  color: var(--brand-color-light);
}

.nav-link.show + i::before {
  content: "\f0d8";
  
}

.nav-item .dropdown-item {
  color: var(--brand-color);
}

.navbar .dropdown-toggle::after {
  border: none;
}

a.navbar-brand img {
  max-width: 200px;
}

@media (max-width: 1200px) {
  a.navbar-brand img {
    max-width: 150px;
  }
}

/* Main */

section.hero {
  position: relative;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  padding-bottom: 5em;
  background-image: linear-gradient(
    to bottom,
    rgba(68, 68, 68, 0.9),
    rgba(5, 27, 49, 0.9)
  ),
  url("../assests/landing.jpeg");
  margin-bottom: 30px;
  color: var(--brand-accent);
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 3em;
  font-weight: 700;
}

.hero h1 span {
  font-size: 4rem;
  color: var(--bg-color);
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 2em;
  }
  .hero h1 span {
    font-size: 3rem;
  }
}

.hero a {
  color: var(--bg-color);
  margin-top: 1em;
  font-size: 2em;
  transition: all .2s ease-in-out;
}

.hero a:hover {
  color: var(--brand-color-light);
  transform: translateY(5px);
}

.waves-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.about-area {
  padding: 2em;
  border-radius: 10px;
  background-color: #eee;
}

.main {
  padding: 1em 2em;
}

.info-content-area {
  padding-right: 5em;
}

.info-content-area h2 {
  color: var(--brand-color);
  font-weight: 700;
  margin-bottom: .5em;
}

.info-img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.info-content-area p.highlight {
  padding-left: 25px;
}

.info-content-area p.highlight:before {
  border-radius: 50px;
}

@media (max-width: 990px) {
  .info-content-area {
    padding-right: 0;
  }
}

/* Centered content */

.centered-content {
  margin-top: 5em;
}

.centered-content h2 {
  color: var(--brand-color);
  font-weight: 700;
}

/* footer */

footer {
  position: relative;
  margin-top: 5em;
  padding: 2em;
  background-color: #f3f3f3 !important;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-bottom: 100px;
}

footer .copyright {
  background-color: var(--brand-color);
  color: var(--bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
