body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.container1 {
    display: flex;
    height: 100vh;
    margin-bottom: 20px; /* Add separation */
  }
  nav-item{
    color: black;
  }
  .navbar-nav li a {
    color: rgb(0, 0, 0);
  } 
  .nav-item > a:hover {
    font-weight: bolder;
    color: #2a365f;
  }
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }

  .content-container {
    flex: 1;
    padding: 20px;
  }

  .header {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content {
    font-size: 16px;
  }

  .container_img {
    max-width: 100%;
    height: auto;
  }